<fieldset class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      <%= f.label :name, 'Nombre:', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: 'form-control', required: 'required' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :description, 'Descripción:', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :description, class: 'form-control', required: 'required' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :link, 'Link:', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :link, class: 'form-control', required: 'required', url: 'true' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :photo, 'Imagen:', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.file_field :photo, class: 'form-control' %>
      </div>
    </div>
      <% @landing_page.images.each do |banner| %>
          <div class="col-sm-6">
            <div class="thumbnail">
              <%= image_tag banner.photo.url %>
            </div>
          </div>
      <% end %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.hidden_field :_destroy %>
        <%= link_to "Eliminar Banner", "#", class: "remove_fields" %>
      </div>
    </div>
  </div>
</fieldset>
