<h1>Listing photos</h1>

<%= form_tag admin_photos_path, :method => 'get', :id => 'photos_search' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<div id="photos"><%= render 'photos' %></div>

<%= link_to 'New Photo', new_admin_photo_path %>
