<h1>Listing sections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Title</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.title %></td>
        <td><%= section.description %></td>
        <td><%= image_tag section.main_banner.url(:medium) %></td>
        <td><%= image_tag section.secondary_banner.url(:medium) %></td>
        <td><%= section.active %></td>
        <td><%= link_to 'Show', [:admin, section] %></td>
        <td><%= link_to 'Edit', edit_admin_section_path(section) %></td>
        <td><%= link_to 'Destroy', [:admin, section], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_admin_section_path %>
