<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @section.description %>
</p>

<p>
  <%= image_tag @section.main_banner.url(:medium) %>
</p>

<p>
  <%= image_tag @section.secondary_banner.url(:medium) %>
</p>

<p>
  <strong>Active:</strong>
  <%= @section.active %>
</p>

<%= link_to 'Edit', edit_admin_section_path(@section) %> |
<%= link_to 'Back', admin_sections_path %>
