<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Link</th>
    <th>Visit</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @videos.each do |video| %>
      <tr>
        <td><%= video.name %></td>
        <td><%= video.description %></td>
        <td>
          <iframe width="300" height="200" src="<%= video.youtube_embed(video.link) %>"></iframe>
        </td>
        <td><%= video.visit %></td>
        <td><%= video.active %></td>
        <!--<td><= link_to 'Show', video %></td>
        <td><= link_to 'Edit', edit_video_path(video) %></td>
        <td><= link_to 'Destroy', video, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
      </tr>
  <% end %>
  </tbody>
</table>

<br>