<p id="notice"><%= notice %></p>
<div class="clearfix admin-head">
  <div class="pull-left">
    <h1>Videos</h1>

    <p>Agrega videos a la sección de videos.</p>
  </div>
  <div class="pull-right">
    <% if can? :create, Video %>
        <%= link_to new_video_path, class: "btn btn-primary" do %>
            <span class="glyphicon glyphicon-plus">Nuevo</span>
        <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <% @videos.each do |video| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail video-admin">
          <%= link_to video.link do %>
              <img src="http://img.youtube.com/vi/<%= video.youtube_id %>/0.jpg" alt="">
          <% end %>
          <div class="caption">
            <h5><%= video.name %></h5>

            <p><%= video.description.present? ? truncate_html(video.description.html_safe, 95, '...') : '' %> <br>
              Visitas: <%= video.impressionist_count %> <br>
              Publicado: <%= video.active == 1 ? 'Si' : 'No' %></p><br>

            <div class="btn-group btn-group-xs">
              <% if can? :update, video %>
                  <%= link_to '/admin/videos/' + video.id.to_s + '/edit', class: "btn btn-default btn-lg" do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                  <% end %>
              <% end %>

              <% if can? :destroy, video %>
                  <%= link_to video, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default btn-lg" do %>
                      <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>



