<div class="post-show-header-wrap">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="post-show-video">
            <div class="video">
              <iframe class="yvid" src="<%= @video.link_embed(@video.link) %>"></iframe>
            </div>
            <div class="post-desc">
              <div class="post-desc-inner">
                <h1><%= @video.name %></h1>
                <p><%= truncate_html(@video.description) %></p>
                <div class="share-links">
                  <span class='st_fblike_hcount' displayText='Facebook Like'></span>
                  <span class='st_twitter_hcount' displayText='Tweet'></span>
                  <span class='st_sharethis_hcount' displayText='ShareThis'></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/section_youtube_subscribe' %>
<div class="main-content">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-9">
        <div class="col-inner">
          <div class="title-page">
            <h1><%= @video.name %></h1>
          </div>
          <p><%= @video.content.present? ? @video.content.html_safe : '' %></p>

          <div class="post-meta">
            <div class="tags">
              Tags:
              <%= raw @video.tag_list.map { |t| link_to t, tag_video_path(t) }.join(', ') %>
            </div>
            <div class="share-links">
              <span class='st_fblike_hcount' displayText='Facebook Like'></span>
              <span class='st_twitter_hcount' displayText='Tweet'></span>
              <span class='st_sharethis_hcount' displayText='ShareThis'></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <div class="sidebar">
            <div class="side-lastest-videos">
              <div class="label-videos">
                <h6>Ultimos</h6>
              </div>
              <% @videos.each do |video| %>
                  <div class="video-box">
                    <div class="video-image">
                      <%= link_to '#' do %>
                          <!--<i class="i play"></i>--<
                          <!--<= image_tag 'placeholder/vid1.jpg' %>-->
                          <iframe width="100%" height="100%" src="<%= video.link_embed(video.link) %>?&showinfo=0&autohide=1"></iframe>
                      <% end %>
                    </div>
                    <div class="video-description">
                      <%= link_to video.name, '#' %>
                    </div>
                  </div>
              <% end %>
              <div class="ads-list">
                <div class="ad">
                  <%= link_to '#' do %>
                      <%= image_tag 'placeholder/placead1.jpg' %>
                  <% end %>
                </div>
                <div class="ad">
                  <%= link_to '#' do %>
                      <%= image_tag 'placeholder/placead2.jpg' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>