<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Link:</strong>
  <iframe width="300" height="200" src="<%= @video.youtube_embed(@video.link) %>"></iframe>
</p>

<p>
  <strong>Visit:</strong>
  <%= @video.visit %>
</p>

<p>
  <strong>Active:</strong>
  <%= @video.active %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
