<div class="post-show-header-wrap" xmlns="http://www.w3.org/1999/html">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="post-show-video">
            <div class="video">
              <iframe src="<%= @video.link_embed(@video.link) %>?wmode=transparent&showinfo=0" width="100%" height="360" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="post-desc">
              <div class="post-desc-inner">
                <h1><%= @video.name %></h1>
                <p><%= truncate_html(@video.description) %></p>

                <%= render partial: 'shared/post_share_links', locals: { url: video_url(@video), text: @video.name, media_url: youtube_thumb(@video.link) } %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-9">
        <div class="col-inner">
          <div class="post-show-content">
            <%= render partial: 'shared/post_share_links', locals: { url: video_url(@video), text: @video.name, media_url: "http://img.youtube.com/vi/#{parse_youtube(@video.link)}/hqdefault.jpg" } %>
            <h1 class="post-show-title"><%= @video.name %></h1>
            <span class="post-show-date"><%= blog_date @video.created_at %></span>
            <p><%= @video.content.present? ? @video.content.html_safe : '' %></p>
            <%= render partial: 'shared/post_share_links', locals: { url: video_url(@video), text: @video.name, media_url: "http://img.youtube.com/vi/#{parse_youtube(@video.link)}/hqdefault.jpg" } %>
            <div class="post-meta">
              <div class="tags">
                Tags:
                <%= raw @video.tag_list.map { |t| link_to t, search_path(:name => t) }.join(', ') %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <div class="sidebar">
            <%= render partial: 'shared/latest_videos', locals: { videos: true, banners: true } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/similar_publications' %>