<div class="post-show-header-wrap" xmlns="http://www.w3.org/1999/html">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="post-show-video">
            <div class="video">
              <iframe src="<%= @video.link_embed(@video.link) %>?wmode=transparent&showinfo=0" width="100%" height="360" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="post-desc">
              <div class="post-desc-inner">
                <h1><%= @video.name %></h1>
                <p><%= truncate_html(@video.description) %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% fb_url = "https://www.facebook.com/dialog/share?app_id=596902290420493&display=popup&href=#{request.original_url}&redirect_uri=#{request.original_url}" %>1
<% tw_url = "https://twitter.com/intent/tweet?url=#{URI.encode(request.original_url)}&text=#{URI.encode(@video.name)}&via=PinturasComex" %>
<%= render partial: 'shared/post_share_links', locals: { fb_url: fb_url, tw_url: tw_url } %>

<%= render partial: 'shared/section_youtube_subscribe' %>
<div class="main-content">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-9 post-main-content">
        <div class="col-inner">
          <div class="title-page">
            <h1><%= @video.name %></h1>
          </div>
          <p><%= @video.content.present? ? @video.content.html_safe : '' %></p>

          <div class="post-meta">
            <div class="tags">
              Tags:
              <%= raw @video.tag_list.map { |t| link_to t, search_path(:name => t) }.join(', ') %>
            </div>
            <div class="share-links">
              <span class='st_fblike_hcount' displayText='Facebook Like'></span>
              <span class='st_twitter_hcount' displayText='Tweet'></span>
              <span class='st_sharethis_hcount' displayText='ShareThis'></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <div class="sidebar">
            <%= render partial: 'shared/latest_videos', locals: { videos: true, banners: true } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>