<div class="footer">
  <div class="footer-navigation">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <ul>
              <% menu.each do |category| %>
                  <li class="footer-nav-item"><%= link_to category.name, '/' + category.link, class: request.fullpath == '/' + category.link ? 'active' : '' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-links-rights">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <% home_details.each do |landing_page| %>
                <div class="footer-links">
                  <%= link_to image_tag('fb-black.png'), landing_page.facebook, :target => '_blank' %>
                  <%= link_to image_tag('twitter-black.png'), landing_page.twitter, :target => '_blank' %>
                  <%= link_to image_tag('youtube-black.png'), landing_page.youtube, :target => '_blank' %>
                  <%= link_to image_tag('vimeo-black.png') %>

                </div>
                <div class="footer-rights">
                  <p><%= landing_page.copyright %></p>

                  <p><%= landing_page.terms %></p>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="comex-footer-brand">
  <%= link_to 'http://www.comex.com.mx/', target: "_blank" do %>
      <%= image_tag 'comex-logo.png' %>
  <% end %>
</div>