
<div class="footer">
  <div class="footer-navigation">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <ul>
              <% menu.each do |category| %>
                  <li class="footer-nav-item"><%= link_to category.name, '/' + category.link, class: request.fullpath.match(category.link) ? 'active' : '' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-links-rights">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <% home_details.each do |landing_page| %>
                <div class="footer-links">
                  <%= link_to image_tag('fb-black1.png'), landing_page.facebook, :target => '_blank' %>
                  <%= link_to image_tag('youtube-black1.png'), landing_page.youtube, :target => '_blank' %>
                  <%= link_to image_tag('instagram-black1.png'), landing_page.vimeo, :target => '_blank' %>
                </div>
                <div class="footer-rights">
                  <p>Copyright <%= Time.now.year %> Consorcio Comex, S.A. de C.V</p>
                  <p><%= link_to 'Términos y Condiciones', landing_page.terms %> / <%= link_to 'Aviso de Privacidad', landing_page.privacity %> / <%= link_to 'Contacto', landing_page.contact %></p>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="comex-footer-brand">
  <%= link_to 'http://www.comex.com.mx/', target: "_blank" do %>
      <%= image_tag 'comex-logo.png' %>
  <% end %>
</div>
