<div class="header">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="brand">
            <%= link_to root_path do %>
              <%= image_tag 'comex-urbano-logo.png' %>
            <% end %>
          </div>
          <div class="header-right-content">
            <div class="navigation">
              <ul>
                <li><a href="">Videos</a></li>
                <li><a href="">Galería</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">¿Qué es urbano?</a></li>
              </ul>
            </div>
            <div class="social-links">
              <ul>
                <li><%= link_to image_tag('fb.png'), "#" %></li>
                <li><%= link_to image_tag('twitter.png'), "#" %></li>
                <li><%= link_to image_tag('youtube.png'), "#" %></li>
                <li><%= link_to image_tag('vimeo.png'), "#" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>