<div class="header">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="brand">
            <%= link_to root_path do %>
              <%= image_tag 'comex-urbano-logo.png' %>
            <% end %>
          </div>
          <div class="header-right-content">
            <div class="navigation">
              <ul>
                <% @categories.each do |category| %>
                    <li><%= link_to category.name, '/' + category.link %></li>
                <% end %>
              </ul>
            </div>
            <div class="social-links">
              <ul>
                <li><%= link_to image_tag('fb.png'), "#" %></li>
                <li><%= link_to image_tag('twitter.png'), "#" %></li>
                <li><%= link_to image_tag('youtube.png'), "#" %></li>
                <li><%= link_to image_tag('vimeo.png'), "#" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="search">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <form action="#" class="search-form">
            <input type="text" placeholder="Buscar">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>