<div class="side-lastest-videos">
  <% if videos %>
      <div class="label-videos">
        <h6>Últimos</h6>
      </div>
      <% latest_videos.take(3).each do |video| %>
          <div class="video-box">
            <div class="video">
              <%= link_to '/videos/'+video.id.to_s do %>
                  <!--<i class="i play"></i>--<
                  <!--<= image_tag 'placeholder/vid1.jpg' %>-->
                  <iframe width="100%" height="100%" src="<%= video.link_embed(video.link) %>?&showinfo=0&autohide=1"></iframe>
              <% end %>
            </div>
            <div class="video-description">
              <%= link_to video.name, '/videos/'+video.id.to_s %>
            </div>
          </div>
      <% end %>
  <% end %>

  <div>
    Tags:
    <div id="tag_cloud">
      <% tags_all do |tag, css_class| %>
          <%= link_to tag.name, search_path(:name => tag.name), class: css_class %>
      <% end %>
    </div>
  </div>

  <% if banners %>
      <div class="ads-list">
        <% site_banners.each do |banner| %>
            <div class="ad">
              <%= link_to '#' do %>
                  <%= image_tag banner.photo.url(:ads) %>
              <% end %>
            </div>
        <% end %>
      </div>
  <% end %>
</div>


<script>
    function getListVideosYoutube() {
        var idVideos = [];
        $.ajax({
            type: "GET",
            url: "https://www.googleapis.com/youtube/v3/search",
            dataType: 'json',
            data: {
                part: "snippet",
                channelId: "UCED1anTSbDoizy12NqRz_ag",
                maxResults: 3,
                order: "date",
                key: 'AIzaSyCkiW3NAv0ytYZB4Bl8k2UCqqat5_g1qMg'
            }
        })
                .success(function (data) {
                    $.each(data.items, function (index, value) {
                        $('.ads-list').prepend('<div class="video-box">'+
                                '<div class="video">'+
                                '<a href="http://www.youtube.com/embed/'+value.id.videoId+'">'+
                                '<iframe width="100%" height="100%" src="http://www.youtube.com/embed/'+value.id.videoId+'?&amp;showinfo=0&amp;autohide=1"></iframe>'+
                                '</a></div>'+
                                '<div class="video-description">'+
                                '<a href="http://www.youtube.com/embed/'+value.id.videoId+'">'+value.snippet.title+'</a>'+
                                '</div>'+
                                '</div>');
                    });
                });
    }

    $(document).ready(function () {
        //getListVideosYoutube();
    });
</script>
