<div class="post-share">
  <a class="sh fb addthis_button_facebook_like" fb:like:href="<%= url %>" data-url="<%= url %>"></a>
  <a class="sh twitter addthis_button_tweet" tw:via="comex" tw:text="<%= text %>"></a>
  <a class="sh gplus addthis_button_google_plusone"></a>
  <a class="sh pin addthis_button_pinterest_pinit" pi:pinit:url="<%= url %>" pi:pinit:media="<%= media_url %>" pi:pint:description="<%= description %>" pi:pinit:layout="horizontal"></a>
</div>