<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "544def9f-8b89-4b7d-a20c-07b4a9e4fe33", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>
<div class="post-share-links">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="links">

            <span class="st_sharethis_custom sharer-box big-sharer" st_title="<%= title %>" st_via="PinturasComex" st_summary="<%= sumary %>" st_image="<%= image %>" >
              <span class="count"></span>
            </span>

            <%= link_to "javascript:window.open('#{tw_url}','Facebook Share','width=560, height=300')", class: 'sharer-box tw-sharer' do %>
              <span class="count"></span>
            <% end %>

            <%= link_to "javascript:window.open('#{fb_url}','Facebook Share','width=560, height=300')", class: 'sharer-box fb-sharer' do %>
              <span class="count"></span>
            <% end %>
            
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {

    var fb = $('.fb-sharer span.count'),
        twitter = $('.tw-sharer span.count'),
        global = $('.big-sharer span.count');

    $.getJSON('http://cdn.api.twitter.com/1/urls/count.json?url=<%= request.original_url %>&callback=?', function(json, textStatus) {
      twitter.text(json.count);
    });

    $.getJSON('http://free.sharedcount.com/?url=<%= request.original_url %>&apikey=34b4da2d056b2e36fc31e52f5de517e2f5dea277', function(json, textStatus) {
      var count = 0;
      count += json.Buzz
      count += json.Delicious
      count += json.Diggs
      count += json.Facebook.total_count
      count += json.GooglePlusOne
      count += json.LinkedIn
      count += json.Pinterest
      count += json.StumbleUpon
      count += json.Twitter

      global.text(0);
    }); 

    $.getJSON('http://graph.facebook.com/?id=<%= request.original_url %>&callback=?', function(json, textStatus) {
      if ( json.shares ) {
        fb.text(json.shares);
      } else {
        fb.text('0');
      };
    });

   

  });
</script>