<div class="hero-intro">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">          
          <div class="featured-post">
            <div class="image">
              <%= link_to '#' do %>
                <i class="i play"></i>
                <%= image_tag 'placeholder/featured-image.jpg' %>
              <% end %>
            </div>
            <div class="description">
              <div class="category">
                <%= link_to '#' do %>
                  <p>Festival Internacional Comex urbano</p>
                <% end %>
              </div>
              <div class="title">
                <%= link_to '#' do %>
                  <h3>FICU es un festival que da apertura al arte urbano y digital en México</h3>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="filters-wrap">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="filters">
            <div class="page-navigation">
              <ul>
                <li>
                  <%= link_to 'Ultimos videos', '#', class: 'active' %>
                </li>
                <li>
                  <%= link_to 'Más vistos', '#' %>
                </li>
              </ul>
            </div>
            <div class="years-timeline">
              <ul>
                <li>
                  <%= link_to '2014', '#', class: 'active' %>
                </li>
                <li>
                  <%= link_to '2013', '#' %>
                </li>
                <li>
                  <%= link_to '2012', '#' %>
                </li>
                <li>
                  <%= link_to '2011', '#' %>
                </li>
                <li>
                  <%= link_to '2010', '#' %>
                </li>
                <li>
                  <%= link_to '2009', '#' %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-9">
        <div class="col-inner">
          <div class="title-page">
            <h1>Lo nuevo</h1>
          </div>
          <div class="posts-list">
            <div class="post">
              <div class="post-image">
                <%= link_to '#' do %>
                  <%= image_tag 'placeholder/post2.jpg' %>
                <% end %>
              </div>
              <div class="post-description">
                <a href=""><h3>Festival Internacional Comex urbano</h3></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis adipiscing nibh, ut tincidunt quam. Praesent ut congue enim.</p>
              </div>
            </div>
            <div class="post">
              <div class="post-image">
                <%= link_to '#' do %>
                  <%= image_tag 'placeholder/post1.jpg' %>
                <% end %>
              </div>
              <div class="post-description">
                <a href=""><h3>Festival Internacional Comex urbano</h3></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis adipiscing nibh, ut tincidunt quam. Praesent ut congue enim.</p>
              </div>
            </div>
            <div class="post">
              <div class="post-image">
                <%= link_to '#' do %>
                  <%= image_tag 'placeholder/post3.jpg' %>
                <% end %>
              </div>
              <div class="post-description">
                <a href=""><h3>Festival Internacional Comex urbano</h3></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis adipiscing nibh, ut tincidunt quam. Praesent ut congue enim.</p>
              </div>
            </div>
            <div class="post">
              <div class="post-image">
                <%= link_to '#' do %>
                  <%= image_tag 'placeholder/post4.jpg' %>
                <% end %>
              </div>
              <div class="post-description">
                <a href=""><h3>Festival Internacional Comex urbano</h3></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis adipiscing nibh, ut tincidunt quam. Praesent ut congue enim.</p>
              </div>
            </div>
            <div class="post">
              <div class="post-image">
                <%= link_to '#' do %>
                  <%= image_tag 'placeholder/post5.jpg' %>
                <% end %>
              </div>
              <div class="post-description">
                <a href=""><h3>Festival Internacional Comex urbano</h3></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis adipiscing nibh, ut tincidunt quam. Praesent ut congue enim.</p>
              </div>
            </div>
            <div class="post">
              <div class="post-image">
                <%= link_to '#' do %>
                  <%= image_tag 'placeholder/post6.jpg' %>
                <% end %>
              </div>
              <div class="post-description">
                <a href=""><h3>Festival Internacional Comex urbano</h3></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis adipiscing nibh, ut tincidunt quam. Praesent ut congue enim.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <div class="sidebar">
            <div class="ytube-subscribe">
              <h5>Suscribete al canal de Youtube</h5>
              <script src="https://apis.google.com/js/platform.js"></script>
              <div class="g-ytsubscribe" data-channelid="UCED1anTSbDoizy12NqRz_ag" data-layout="default" data-count="undefined"></div>
            </div>
            <div class="side-lastest-videos">
              <div class="label-videos">
                <h6>Ultimos</h6>
              </div>
              <div class="video-box">
                <div class="video-image">
                  <%= link_to '#' do %>
                    <i class="i play"></i>
                    <%= image_tag 'placeholder/vid1.jpg' %>
                  <% end %>
                </div>
                <div class="video-description">
                  <%= link_to 'Festival Internacional Comex urbano', '#' %>
                </div>
              </div>
              <div class="video-box">
                <div class="video-image">
                  <%= link_to '#' do %>
                    <i class="i play"></i>
                    <%= image_tag 'placeholder/vid2.jpg' %>
                  <% end %>
                </div>
                <div class="video-description">
                  <%= link_to 'Festival Internacional Comex urbano', '#' %>
                </div>
              </div>
              <div class="video-box">
                <div class="video-image">
                  <%= link_to '#' do %>
                    <i class="i play"></i>
                    <%= image_tag 'placeholder/vid3.jpg' %>
                  <% end %>
                </div>
                <div class="video-description">
                  <%= link_to 'Festival Internacional Comex urbano', '#' %>
                </div>
              </div>
            </div>
            <div class="ads-list">
              <div class="ad">
                <%= link_to '#' do %>
                  <%= image_tag 'placeholder/placead1.jpg' %>
                <% end %>
              </div>
              <div class="ad">
                <%= link_to '#' do %>
                  <%= image_tag 'placeholder/placead2.jpg' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>