<%= link_to 'Nueva Seccion', new_section_path %>
<br><br>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Banner</th>
    <th>Categoria</th>
    <th>Active</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @sections.each do |section| %>
      <tr>
        <td><%= section.title %></td>
        <td><%= section.description.html_safe %></td>
        <td><%= image_tag section.main_banner.url(:medium) %></td>
        <td><%= section.category.present? ? section.category.name : '' %></td>
        <td><%= section.active %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>


