<div class="main-content page legal">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-9">
        <div class="col-inner">
          <div class="post-show-content">
            <br>
            <h1 class="post-show-title">Contáctanos</h1>
            <br>

            <%= form_tag '#', class: 'contact-form' do %>
              <div class="form-group">
                <%= label_tag 'name', 'Nombre(s): <i class="rqrd">*</i>'.html_safe %>
                <div class="row">
                  <div class="col-xs-7">
                    <%= text_field_tag 'name', '', class: 'form-control', required: true %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag 'last_name', 'Apellido(s):' %>
                <div class="row">
                  <div class="col-xs-7">
                    <%= text_field_tag 'last_name', '', class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag 'email', 'Email: <i class="rqrd">*</i>'.html_safe %>
                <div class="row">
                  <div class="col-xs-7">
                    <%= text_field_tag 'email', '', class: 'form-control', required: true, email: true %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag 'subject', 'Asunto:' %>
                <div class="row">
                  <div class="col-xs-7">
                    <%= text_field_tag 'subject', '', class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag 'message', 'Mensaje: <i class="rqrd">*</i>'.html_safe %>
                <%= text_area_tag 'message', '', rows: 7, class: 'form-control', placeholder: 'Escribir', required: true %>
              </div>
              
              <div class="form-actions">
                <%= submit_tag 'Enviar', class: 'form-action-item' %>
                <%= link_to 'Limpiar', '#', class: 'form-action-item reset-contact-form-js' %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <div class="sidebar">
            <%= render partial: 'shared/youtube_subscribe' %>
            <%= render partial: 'shared/latest_videos', locals: { videos: false, banners: true } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    var validate = $('.contact-form').validate();

    $('.reset-contact-form-js').click(function(e) {
      $('.contact-form')[0].reset();
      validate.resetForm();
      e.preventDefault()
    });
  });
</script>