<div class="comming-soon">
	<div class="comming-soon-header">
		<div class="social-links">
      <ul>
        <% home_details.each do |landing_page| %>
            <li><%= link_to image_tag('fb.png'), landing_page.facebook, :target => '_blank' %></li>
            <li><%= link_to image_tag('twitter.png'), landing_page.twitter, :target => '_blank' %></li>
            <li><%= link_to image_tag('youtube.png'), landing_page.youtube, :target => '_blank' %></li>
            <li><%= link_to image_tag('vimeo.png'), "#" %></li>
        <% end %>
      </ul>
    </div>
    <div class="comex-brand">
    	<%= link_to 'http://www.comex.com.mx/', target: "_blank" do %>
          <%= image_tag 'comex-logo.png' %>
      <% end %>
    </div>
	</div>

	<div class="comming-soon-content" style="height: 475px;">
		<%= image_tag "comex-urbano-logo-comming.png" %>
		<div class="banner"></div>
		<span>próximamente</span>
	</div>

	<div class="comming-soon-footer">
		<ul>
      <% home_details.each do |landing_page| %>
          <li><%= link_to image_tag('fb.png'), landing_page.facebook, :target => '_blank' %></li>
          <li><%= link_to image_tag('twitter.png'), landing_page.twitter, :target => '_blank' %></li>
          <li><%= link_to image_tag('youtube.png'), landing_page.youtube, :target => '_blank' %></li>
          <li><%= link_to image_tag('vimeo.png'), "#" %></li>
      <% end %>
    </ul>
    <p>Copyright © 2014 Consorcio Comex, S.A de C.V <br> Términos y Condiciones Aviso de Privacidad Soporte Técnico</p>
	</div>
</div>