<%= link_to 'Nueva Pregunta', new_about_path %>

<br><br>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @abouts.each do |about| %>
      <tr>
        <td><%= about.name %></td>
        <td><%= about.description.html_safe %></td>
        <td><%= link_to 'Edit', edit_about_path(about) %></td>
        <td><%= link_to 'Destroy', about, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
