<%= form_for(@photo) do |f| %>
    <% if @photo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

          <ul>
            <% @photo.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br>
      <%= f.cktext_area :description, :class => 'someclass' %>
    </div>
    <div class="field">
      <%= f.label :image %>
      <br/>
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <%= f.label :section_id %>
      <br>
      <%= f.select :section_id, Section.all.collect { |p| [p.title, p.id] } %>
    </div>
    <div class="field">
      <%= f.label :visit %>
      <br>
      <%= f.number_field :visit %>
    </div>
    <div class="field">
      <%= f.label :active %>
      <br>
      <%= f.number_field :active %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
