<% @section.each do |section| %>
    <div class="section-heading">
      <div class="wrapper">
        <div class="cols-12">
          <div class="col col-12">
            <div class="col-inner">
              <%= image_tag section.main_banner.url(:original) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="filters-wrap">
      <div class="wrapper">
        <div class="cols-12">
          <div class="col col-12">
            <div class="col-inner">
              <div class="filters">
                <div class="page-navigation">
                  <ul>
                    <li>
                      <%= link_to 'Ultimos videos', '#', class: 'active' %>
                    </li>
                    <li>
                      <%= link_to 'Más vistos', '#' %>
                    </li>
                  </ul>
                </div>
                <div class="years-timeline">
                  <ul>
                    <li>
                      <%= link_to '2014', '#', class: 'active' %>
                    </li>
                    <li>
                      <%= link_to '2013', '#' %>
                    </li>
                    <li>
                      <%= link_to '2012', '#' %>
                    </li>
                    <li>
                      <%= link_to '2011', '#' %>
                    </li>
                    <li>
                      <%= link_to '2010', '#' %>
                    </li>
                    <li>
                      <%= link_to '2009', '#' %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/section_youtube_subscribe' %>

    <div class="videos-list">
      <div class="wrapper">
        <div id="gal1" class="cols-12">
          <% section.photos.each do |photo| %>
              <!-- <div class="col col-4">
                <div class="col-inner">
                     <div class="video-box">
                  <div class="video"> -->
              <!--<= link_to '/photos/'+photo.id.to_s do %>
                  <!--<i class="i play"></i>-->
                  <%= image_tag photo.image.url(:medium), :data => {:url => '/photos/'+photo.id.to_s} %>
              <!--< end %>
              <!-- </div>
             </div>
           </div>
            </div> -->
          <% end %>
        </div>
      </div>
    </div>

    <div class="main-content">
      <div class="wrapper">
        <div class="cols-12">
          <div class="col col-3">
            <div class="col-inner">
              <div class="sidebar">
                <%= render partial: 'shared/latest_videos', locals: {videos: false, banners: false} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

