<div class="filters-wrap">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="filters filters-standalone">
            <div class="page-navigation">
              <ul>
                <li>
                  <%= link_to 'Ultimas', '/photos', class: request.fullpath == '/photos' ? 'active' : '' %>
                </li>
                <li>
                  <%= link_to 'Más vistas', photos_section_path(:section_id => @section.id, :visit => true), class: @visit == 'true' ? 'active' : '' %>
                </li>
              </ul>
            </div>
            <div class="years-timeline">
              <ul>
                <li>
                  <%= link_to '2014', photos_section_path(:section_id => @section.id, :year => 2014), class: @year == '2014' ? 'active' : '' %>
                </li>
                <li>
                  <%= link_to '2013', photos_section_path(:section_id => @section.id, :year => 2013), class: @year == '2013' ? 'active' : '' %>
                </li>
                <li>
                  <%= link_to '2012', photos_section_path(:section_id => @section.id, :year => 2012), class: @year == '2012' ? 'active' : '' %>
                </li>
                <li>
                  <%= link_to '2011', photos_section_path(:section_id => @section.id, :year => 2011), class: @year == '2011' ? 'active' : '' %>
                </li>
                <li>
                  <%= link_to '2010', photos_section_path(:section_id => @section.id, :year => 2010), class: @year == '2010' ? 'active' : '' %>
                </li>
                <li>
                  <%= link_to '2009', photos_section_path(:section_id => @section.id, :year => 2009), class: @year == '2009' ? 'active' : '' %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="videos-list">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="Collage" style="padding: 3px;">
            <% unless @photos.empty? %>
                <% @photos.each do |photo| %>
                    <div class="image-gallery">
                      <%= link_to photo_show_path(photo) do %>
                          <div class="image-cover">
                            <h5><%= photo.name %></h5>
                          </div>
                          <%= image_tag photo.image.url %>
                      <% end %>
                    </div>
                <% end %>
            <% end %>

            <% if @photos.empty? %>
                <h3>No se encontraron publicaciones.</h3>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


