<p id="notice"><%= notice %></p>

<div class="clearfix admin-head">
  <div class="pull-left">
    <h1>Blog</h1>
    <p>Agrega nuevas entradas al blog.</p> 
  </div>
  <div class="pull-right">
    <%= link_to new_post_path, class: "btn btn-primary" do %>
      <span class="glyphicon glyphicon-plus"></span>Nueva entrada
    <% end %>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Titulo</th>
    <th>Fecha de creación</th>
    <th>Tags:</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, edit_post_path(post) %></td>
        <td><%= human_date post.posted_at %></td>
        <td><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
        <td>
          <div class="btn-group btn-group-xs">
            <%= link_to edit_post_path(post), class: "btn btn-default btn-lg" do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to post, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default btn-lg" do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
