<%= link_to 'Nuevo Post', new_post_path %>

<br><br>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Introduction</th>
    <th>Description</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.introduction %></td>
        <td><%= post.description.html_safe %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
