<p id="notice"><%= notice %></p>
<div class="post-show-header-wrap">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="post-show-video">
            <div class="video">
              <%= image_tag @post.image.url %>
            </div>
            <div class="post-desc">
              <div class="post-desc-inner">
                <h1><%= @post.title %></h1>
                <p><%= truncate(@post.introduction, :length => 20) %></p>
                <div class="share-links">
                  <span class='st_fblike_hcount' displayText='Facebook Like'></span>
                  <span class='st_twitter_hcount' displayText='Tweet'></span>
                  <span class='st_sharethis_hcount' displayText='ShareThis'></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/section_youtube_subscribe' %>
<div class="main-content">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-9">
        <div class="col-inner">
          <div class="title-page">
            <h1><%= @post.title %></h1>
            <h4>Festival Internacional</h4>
            <h4>Comex Urbano</h4>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis adipiscing nibh, ut tincidunt quam. Praesent ut congue enim. Nulla sed ultrices nunc. Nunc pharetra tristique magna, id tincidunt nisl venenatis at. Aliquam mollis diam vel velit interdum faucibus. Aenean purus nulla, pharetra vel molestie quis, pretium a nulla. Donec non urna et nulla iaculis euismod et id nulla.</p>
          <%= image_tag 'sections/post-show-1.jpg' %>

          <p>Vivamus condimentum tempor accumsan. Duis eget elit imperdiet, elementum quam at, interdum neque. In condimentum est in lacinia volutpat. In a sollicitudin nisi, a volutpat nunc. Cras sit amet orci congue, fermentum nisl vel, posuere velit. Suspendisse a orci ac mi convallis rhoncus et quis odio. Nunc at leo sem. Mauris non tristique mi.</p>

          <p>Nam consectetur auctor mi ut bibendum. Donec elementum mi libero, ut vestibulum dolor lobortis quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam sollicitudin sem eu sem tristique convallis. Proin quis risus eleifend, ornare urna in, eleifend tortor. Aliquam quis semper arcu. Quisque facilisis leo ut eros suscipit laoreet. Integer pretium urna eget tristique ullamcorper. Mauris aliquet vitae tortor eu dignissim. Suspendisse volutpat id neque et pretium. Sed dapibus, velit ut cursus faucibus, purus dolor tempor mauris, varius dictum risus tortor cursus tortor.</p>

          <div class="post-meta">
            <div class="tags">
              Tags:
              <a href="#">ficu</a>,
              <a href="#">skinpop</a>,
              <a href="#">ilustración</a>,
              <a href="#">arte</a>,
              <a href="#">urbano</a>
            </div>
            <div class="share-links">
              <span class='st_fblike_hcount' displayText='Facebook Like'></span>
              <span class='st_twitter_hcount' displayText='Tweet'></span>
              <span class='st_sharethis_hcount' displayText='ShareThis'></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <div class="sidebar">
            <div class="side-lastest-videos">
              <div class="label-videos">
                <h6>Ultimos</h6>
              </div>
              <% @videos.each do |video| %>
                  <div class="video-box">
                    <div class="video-image">
                      <%= link_to '#' do %>
                          <!--<i class="i play"></i>--<
                          <!--<= image_tag 'placeholder/vid1.jpg' %>-->
                          <iframe width="100%" height="100%" src="<%= video.link_embed(video.link) %>?&showinfo=0&autohide=1"></iframe>
                      <% end %>
                    </div>
                    <div class="video-description">
                      <%= link_to video.name, '#' %>
                    </div>
                  </div>
              <% end %>
              <div class="ads-list">
                <div class="ad">
                  <%= link_to '#' do %>
                      <%= image_tag 'placeholder/placead1.jpg' %>
                  <% end %>
                </div>
                <div class="ad">
                  <%= link_to '#' do %>
                      <%= image_tag 'placeholder/placead2.jpg' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
