<div class="post-show-header-wrap">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="post-show-video">
            <div class="video">
              <%= image_tag @post.image.url %>
            </div>
            <div class="post-desc">
              <div class="post-desc-inner">
                <h1><%= @post.title %></h1>
                <p><%= truncate(@post.introduction, :length => 20) %></p>
                <div class="share-links">
                  <span class='st_fblike_hcount' displayText='Facebook Like'></span>
                  <span class='st_twitter_hcount' displayText='Tweet'></span>
                  <span class='st_sharethis_hcount' displayText='ShareThis'></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/section_youtube_subscribe' %>
<div class="main-content">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-9">
        <div class="col-inner">
          <div class="title-page">
            <h1><%= @post.title %></h1>
          </div>
          <p><%= @post.description.present? ? @post.description.html_safe : '' %></p>
          <div class="post-meta">
            <div class="tags">
              Tags:
              <%= raw @post.tag_list.map { |t| link_to t, search_path(:name => t) }.join(', ') %>
            </div>
            <div class="share-links">
              <span class='st_fblike_hcount' displayText='Facebook Like'></span>
              <span class='st_twitter_hcount' displayText='Tweet'></span>
              <span class='st_sharethis_hcount' displayText='ShareThis'></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="col-inner">
          <div class="sidebar">
            <%= render partial: 'shared/latest_videos', locals: { videos: true, banners: true } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
