<div class="list-group">
  <%= link_to 'Home', '/admin', class: request.fullpath == '/admin' ? 'active list-group-item' : 'list-group-item' %>
  <%= link_to 'Menú', '/admin/categories', class: request.fullpath == "/admin/categories" ? "active list-group-item" : "list-group-item" %>
  <%= link_to 'Videos', '/admin/videos', class: request.fullpath == '/admin/videos' ? 'active list-group-item' : 'list-group-item' %>
  <%= link_to 'Galería', '/admin/photos', class: request.fullpath == '/admin/photos' ? 'active list-group-item' : 'list-group-item' %>
  <%= link_to 'Blog', '/admin/posts', class: request.fullpath == '/admin/posts' ? 'active list-group-item' : 'list-group-item' %>
  <%= link_to '¿Qué es Comex urbano?', '/admin/abouts', class: request.fullpath == '/admin/abouts' ? 'active list-group-item' : 'list-group-item' %>
  <%= link_to 'Secciones', '/admin/sections', class: request.fullpath == '/admin/sections' ? 'active list-group-item' : 'list-group-item' %>
  <%= link_to 'Banners Comex', '/admin/banners', class: request.fullpath == '/admin/banners' ? 'active list-group-item' : 'list-group-item' %>
</div>
