<div class="list-group">
	<%= link_to 'Inicio', '/admin', class: "list-group-item active" %>
	<%= link_to 'Videos', '/admin/videos', class: "list-group-item" %>
	<%= link_to 'Galeria', '/admin/photos', class: "list-group-item" %>
	<%= link_to 'Blog', '/admin/posts', class: "list-group-item" %>
	<%= link_to '¿Que es arte urbano?', '/admin/abouts', class: "list-group-item" %>
	<%= link_to 'Secciones', '/admin/sections', class: "list-group-item" %>
	<%= link_to 'Categorias', '/admin/categories', class: "list-group-item" %>
</div>