<h1>Listing videos</h1>

<%= form_tag admin_videos_path, :method => 'get', :id => 'videos_search' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<div id="videos"><%= render 'videos' %></div>

<%= link_to 'New Video', new_admin_video_path %>
