<!DOCTYPE html>
<html>
<head>
  <title>ComexUrbano</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      var CKEDITOR_BASEPATH = '/ckeditor/';
  </script>
</head>
<body class="admin-page">

	<nav class="navbar navbar-inverse" role="navigation">
	  <div class="container">

	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <%= link_to root_path, class: "navbar-brand" do %>
        	<%= image_tag 'comex-urbano-logo.png' %>
        <% end %>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li>
	        	<%= link_to destroy_user_session_path, method: :delete do %>
	        		Salir <span class="glyphicon glyphicon-arrow-right"></span>
	        	<% end %>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="wrapper">
		<div class="cols-12">
			<div class="col col-3">
				<div class="col-inner">
					<%= render partial: 'shared/admin/header' %>	
				</div>
			</div>
			<div class="col col-9">
				<div class="col-inner">
					<%= yield %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
