<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags site: 'Comex Urbano', separator: '·'.html_safe, reverse: true, author: 'Comex', twitter: { card: 'sumary', site: '@PinturasComex' } %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'shared/header' %>
  <%= yield %>
  <%= render partial: 'shared/banner_bottom' %>
  <%= render partial: 'shared/footer' %>  
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=503561796364059&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
  <script src="https://apis.google.com/js/platform.js"></script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-540967090b7dc1ae"></script>
  <!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53e95e6e659c6da1"></script>-->
</body>
</html>
